<%- include("partials/header.ejs") %>

<div class="container">
  <div class="p-4 p-md-5 mb-4 mt-4 rounded text-body-emphasis bg-body">
    <div>
      <h4 class="fst-italic">Search Result</h4>
      <ul class="list-unstyled border-bottom">
        <% data.forEach(element => { %>
        <li>
          <div class="row align-items-center border-top">
              <a class="col d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none" href="/post/<%= element._id%>">   
                <div class="col-lg-8">
                  <h2 class="mb-0">
                  <%= element.title %>
                  </h2>    
                  <small class="text-body-secondary"><%= element.createdAt.toDateString() %></small>
                </div>
              </a>
            <div class="d-flex gap-2 col-2">
              <a class="btn btn-secondary px-3" href="/postedit" type="button">Edit</a>
              <button class="btn btn-danger px-3" type="button">Delete</button>
            </div>
          </div>
        </li>
        <% }) %>
   </div>
</div>

<%- include("partials/footer.ejs") %>